<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:util="http://www.springframework.org/schema/util"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

  <!--<start id="duke_bean" />--> 
  <bean id="duke" 
      class="com.springinaction.springidol.Juggler">
      <constructor-arg value="15"></constructor-arg>
      </bean>
  <!--<end id="duke_bean" />-->
  
  <bean id="poeticDuke"
      class="com.springinaction.springidol.PoeticJuggler">
    <constructor-arg value="15" />
    <constructor-arg ref="sonnet29" />
  </bean>
  <!--<end id="poeticduke_bean" />-->
  
  <!--<start id="sonnet29_bean" />--> 
  <bean id="sonnet29"
      class="com.springinaction.springidol.Sonnet29" />
  
  <bean id="stage"
      class="com.springinaction.springidol.Stage" factory-method="getInstance">
  </bean>
  
  <bean id="kenny"
      class="com.springinaction.springidol.Instrumentalist">
    <property name="song" value="Jingle Bells" />
    <property name="age" value="16.3"></property>
  </bean>
  
  <bean id="kenny2"
      class="com.springinaction.springidol.Instrumentalist">
    <property name="song" value="Jingle Bells" />
    <property name="instrument" ref="saxophone" />
  </bean>
  
  <bean id="saxophone"
      class="com.springinaction.springidol.Saxophone" />
  <!--<end id="saxophone_bean" />-->
	
  
  
</beans>
